/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    font-family: "Open Sans";
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#cart {
  border-style: solid;
  border-color: black;
}

.brown {
  border-color: black;
}

.justifyLeft {
  display: flex;
  justify-content: flex-start;
}
.justifyRight {
  display: flex;
  justify-content: flex-end;
}

.titleHead {
  opacity: 0.70;
}
/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
footer .copy {
  display: flex;
  justify-content: space-between;
    margin-right: 5rem;
}
footer .iconFoot {
  display: flex;
  justify-content: center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    z-index: 2;

footer address {
  display: flex;
  justify-content: flex-end;
    margin-left: 2rem;
}

table .shopCart {
  border: 20px, solid, brown;
}

.orderForm {
  display: flex;
  justify-content: space-around;
}
